<% layout("/layouts/boilerplate") %>

<h1 class="mt-3">My Wishlist ❤️</h1>

<div class="row">
<% listings.forEach(listing => { %>

  <div class="card col-4 ms-3 mb-3">
    <img src="<%= listing.image.url %>" class="card-img-top">
    
    <div class="card-body">
      <h5><%= listing.title %></h5>
      <p>₹ <%= listing.price %></p>

      <form action="/wishlist/remove/<%= listing._id %>" method="POST">
        <button class="btn btn-dark btn-sm">
          Remove ❌
        </button>
      </form>
    </div>
  </div>

<% }) %>
</div>