<% layout("/layouts/boilerplate") %>

<div class="container mt-5">

<div class="card p-4">

<h2>
👤 <%= currentUser.username %>
</h2>

<hr>

<p>
<b>Username:</b>
<%= currentUser.username %>
</p>

<p>
<b>Email:</b>
<%= currentUser.email %>
</p>

</div>

</div>